textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    text-align: center;
    background-color: #0A75BC;
    color: #FCE029;
    margin: 0px;
}
body{
    background-color:#FCE029 ;
    color: #0A75BC;
}
textarea{
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
button{
    background-color:  #0A75BC;
    color: #FCE029;
    border-radius: 5px;
    border: 2px dotted #0A75BC;
    box-shadow: 2px 2px 2px #0A75BC ;
    float: center;
    margin-left: 200px;
    padding: 8px 20px;
    font-size: 20px;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    text-align: center;
}
.d1,.d2{
    display: inline-block;

}
#footer{
    background-color:  #0A75BC;
    color: #FCE029;
    
    width: 100%;
    margin: 0px;

}
