
textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    text-align: center;
    font-family: 'Luckiest Guy', Arial;
    text-transform: none;
    background-color: #0A75BC;
    
    color: #FCE029;
    margin: 0px;
    font-size: 2.5vw;
    text-shadow: rgb(192, 143, 24) 1px 1px 0px, rgb(192, 143, 24) 2px 2px 0px, rgb(68, 68, 68) 3px 3px 0px, rgb(68, 68, 68) 4px 4px 0px, rgb(68, 68, 68) 5px 5px 0px, rgb(68, 68, 68) 6px 6px 0px, rgb(153, 153, 153) 5px 5px 15px;
}
body{
    background-color:#FCE029 ;
    color: #0A75BC;
    font-family: 'Luckiest Guy', Arial;
}
textarea{
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
button{
    background-color:  #0A75BC;
    color: #FCE029;
    border-radius: 5px;
    border: 2px dotted #0A75BC;
    box-shadow: 2px 2px 2px #0A75BC ;
    float: center;
    font-family: 'Luckiest Guy', Arial;
   
    
    font-size: 20px;
    justify-content: center;
    
}


h2{
    text-align: center;
}
.d1,.d2{
    display: inline-block;

}
#footer{
    background-color: #0A75BC ;
    color: black;
    
    width: 100%;
    margin: 0px;

}
